# Python bytecode
__pycache__/
*.py[cod]
*$py.class
*.pyc

# C extensions
*.so

# Virtual environments
venv/
env/
ENV/
.venv/

# Distribution / packaging
build/
dist/
.eggs/
*.egg-info/
*.egg

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage
htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Pyre type checker
.pyre/

# Mypy type checker cache
.mypy_cache/

# Pytype
.pytype/

# Sphinx documentation
/docs/_build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/

# JetBrains IDEs
.idea/

# macOS files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db
Desktop.ini

# Environment variable files
.env
.env.*

# Generated reports and temporary files
tmp/
*.md